#map 
{ height: 100%; 
  position: relative; 
}
html, body { 
	height: 100%; 
	margin: 0; 
	padding-top: 25px;
	width: 100px:;
	
	}

#list{
    background-color: black;
    min-width: 255px;
    padding: 20px 0;
    color:#fff7f7 !important;
}

.nav{
	padding-top:20px !important;
}
ul{

    margin-left: 10px;

}
li{
	cursor: pointer;
}

.hamburger-icon {
    margin: 8px 5px 5px 10px;
}
a {
    text-align: center !important;
    font-size: 14px;
    color: #fcf7f7 !important;
    line-height: 0.9;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    body {
      padding-top: 100px;
    }
}
@media screen and (min-width: 768px) {
    body {
      padding-top: 25px;
    }
}
@media screen and (min-width: 768px) and (min-height: 720px) {
    #list {
      height: 100vh;
    }
}