#map 
{ height: 100%; 
  width: 80%;
  float: left;
}
html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	width: 100px:;
	}

#list{
   margin-left: 10px;
   float: left;
   margin-right: 5px;
}

.navbar-toggler-icon {
	float: left;
	height: 2px;
	width: 2px;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E);
}